.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color) !important;
  filter: drop-shadow(10px 7px 3px var(--shadow-color));
}

.nav-item a {
  margin-right: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.nav-item a.active {
  color: var(--main-color) !important;
}

.home-img img {
  filter: drop-shadow(10px 7px 3px var(--shadow-color));
}

.home-content h3 {
  line-height: 0.3;
}

span {
  color: var(--main-color);
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1rem;
  color: var(--main-color);
  margin: 0.5rem 1rem 2rem 0;
  transition: 0.5s ease;
  text-decoration: none;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--main-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
